<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="https://code.jquery.com/jquery-3.6.1.slim.js"
    integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  <title>Document</title>
  <script type="text/x-template" id="grid-template">

        <table>
          <thead>
            <tr>
              <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                {{ capitalize(key) }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="entry in filteredHeroes">
              <td v-for="key in columns">
                {{ entry[key] }}
              </td>
            </tr>
          </tbody>
        </table>
      </script>
  <!-- <script>
    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })
  </script> -->
</head>

<body>
  <!-- component template -->



  <body>
    <!-- demo root element -->
    <div id="demo" class="container">

      <!-- <div>
        <div v-for="user in info">
          <p>{{user.id}}</p>

        </div>
        вывод json_encode
        {{ users }}
      </div> -->

      <!--отзывы-->
      <div>
        <input placeholder="поиск по людям по нику" v-model="search">
      </div>
      </br>
      <div>
        <!--Сотритровка-->
        <button @click="setOrderType(1)">Дата по возрастанию</button>
        <button @click="setOrderType(2)">Дата по убыванию</button>
        <button @click="setOrderType(0)">Сброс</button>

        <!--Конец-->
      </div>
      </br>
      <p v-if="!users.length"> {{errorMsg}} Нет записей</p>

      <div v-if="users.length">
        <div v-for="user in filteredList" v-for="(user, n) in users" :key="user.nane" :id="user.name">
          <div style="">

            <div> {{user.id}} - {{ user.name }} - {{ user.email }} - {{ user.data }} </div>



          </div>
          <div>

            <p>{{ user.otzyv }}</p>
          </div>
          <div style="display: flex;" >

            <!-- Кнопка-триггер модального окна -->
            <div class="form-group">

              <button type="button" @click="newUser = user" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Редактирование
              </button>
            </div>
            <div class="form-group">
              <button @click="remove(n)">Удалить</button>
            </div>
          </div>
          <hr>
        </div>
      </div>



      <!-- Модальное окно -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Редактирование jотзыва</h5>
            </div>

            <div class="modal-body">

              <form action="#" @submit.prevent.stop="someAction1()">
                <!--end email-->
                <div class="form-group">
                  <label>Отзыв {{ newUser.id }}</label>
                  <textarea type="name" name="otzyv" class="form-control" v-model="newUser.otzyv"></textarea>
                </div>
                <div class="modal-footer">

                  <button type="button" class="btn btn-secondary" @click=" update()"
                    data-bs-dismiss="modal">Закрыть</button>


                </div>
              </form>

            </div>

          </div>
        </div>
      </div>




      <!--Начало формы-->
      <form @submit.prevent.stop="someAction()">
        <div class="form-group">
          <label>Имя</label>
          <input type="text" name="name" class="form-control" v-model="newUser.name" ref="noteTitle">
        </div>

        <!--email-->
        <br>
        <br>
        <div class="field form-group">
          <label for="">Email</label>
          <input v-model="newUser.email" name="email" type="email" @blur="isEmailTouched = true"
            :class="{ error: isEmailError }">
          <div v-if="isEmailError">Поле заполено неверно</div>
        </div>
        <!--end email-->
        <div  >
          <div class="form-group">
            <label>Отзыв</label>
            <textarea type="name" name="otzyv" class="form-control" v-model="newUser.otzyv"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" :disabled="!isEmailValid" @click="addUser()">
              Добавить
            </button>
          </div>
        </div>
      </form>

      <!--конец отзывы-->


      </demo-grid>
      <!--Add form-->
      <div style="width: 500px;">

        </br>
        <demo-grid :heroes="users" :columns="gridColumns" :filter-key="search">
      </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="scripts/script.js"></script>

  </body>

</html>